# Dependencies
node_modules/
.pnp
.pnp.js

# Environment
.env
.env.local
.env.*.local

# Next.js
.next/
out/
build/

# Misc
.DS_Store
*.log
npm-debug.log*

# Prisma
prisma/migrations/

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
